        h1 {
            background-color: red;
            color: darkturquoise;
        }

        p {
            color: green;
        }

/* 
        #i {
            background-color: coral;
        }



        p.b {
            background-color: blue;
            color: aquamarine;
        } */